﻿
@{
    ViewBag.Title = "Account Flagged";
    
    }

<div class="container">

    <div class="login-container center-block">
        <h3 class="login-heading">WhiteBoard</h3>
        <hr class="colorgraph"><br />
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <h4>You account has been: <i>@ViewBag.FlagMessage</i></h4>
        
    </div>
</div>