﻿@model BusinessLayer.CourseModel


@{
    ViewBag.Title = "BrowseCourse";
}


@*<h3>BROWSE COURSES</h3>
    <br />
    <hr />*@


<h3 class="section-title first-title"><i class="icon-book"></i> Browse Courses</h3>
@if (HttpContext.Current.Request.Url.AbsolutePath == "/Student/BrowseCourse")
{
    if (Request.QueryString["CategoryID"] == null)
    {
        <h4>Category - All</h4>
    }
    else
    {
        string Category = Request.QueryString["CategoryName"].ToString();
        <h4>Category - @Category</h4>
    }
}
@if (HttpContext.Current.Request.Url.AbsolutePath == "/Student/FavouriteCourses")
{
    <h4>Category - Your Favourites</h4>
}
@if (HttpContext.Current.Request.Url.AbsolutePath == "/Student/Courses")
{
    <h4>Category - Courses you are enrolled in</h4>
}

<ul class="nav nav-tabs">
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Category <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        @foreach (var data2 in Model.CategoryList)
            {
                <li><a href="/Student/BrowseCourse?CategoryID=@data2.CategoryID&CategoryName=@data2.CategoryName">@data2.CategoryName</a></li>
            }
        </ul>
    </li>
    @if (HttpContext.Current.Request.Url.AbsolutePath != "/Student/Courses")
    {
    <li>
        @if (HttpContext.Current.Request.Url.AbsolutePath == "/Student/FavouriteCourses")
        {
            <a href="/Student/BrowseCourse">All course</a>
        }
        @if (HttpContext.Current.Request.Url.AbsolutePath == "/Student/BrowseCourse")
        {
            <a href="/Student/FavouriteCourses">Favourite Courses</a>
        }
    </li>
    }
    else
    {
        <li><a href="/Student/BrowseCourse">All course</a></li>
        <li><a href="/Student/FavouriteCourses">Favourite Courses</a></li>
    }
</ul>
<hr />
@*<body>*@
<div class="widget">
    <div class="row">
        @foreach (var data in Model.list)
        {

            <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                <div class="widget-content-blue-wrapper changed-up">
                    <div class="widget-content-blue-inner padded">
                        <a href="/Student/Enroll?CourseID=@data.CourseID">
                            <img src="~/images/@data.ImageLocation" alt="~/images/noimage.jpg" style="height:200px;width:100%" />
                        </a>
                        <div class="value-block">
                            <div class="value-self"><a href="/Student/Enroll?CourseID=@data.CourseID">@data.Title</a></div>
                            <div class="value-sub">@data.Description</div>
                            <br />
                            <div class="value-sub"><strong>@data.InstructorName</strong></div>
                            <div class="value-sub"><em>Instructor</em></div>
                        </div>
                    </div>
                </div>
            </div>


            @*<div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="courses-heading panel-heading">
                            <a href="/Student/Enroll?CourseID=@data.CourseID">
                                <img src="~/images/@data.ImageLocation" alt="~/images/noimage.jpg" style="height:200px;width:100%" />
                            </a>
                        </div><!--panel heading-->
                        <br />
                        <div class="panel-body">
                            <h4><a href="/Student/Enroll?CourseID=@data.CourseID">@data.Title</a></h4>
                            <br />
                            <p>@data.Description</p>
                        </div><!--panel body-->
                             <div class="panel-footer">

                                       <h5>@data.InstructorName</h5>
                                       <h6>Instructor</h6>

                             </div><!-- footer -->
                    </div><!-- div panel-->
                </div>//div md*@
        }
    </div>
</div>


@*<div class="widget">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                <div class="widget-content-blue-wrapper changed-up">
                    <div class="widget-content-blue-inner padded">
                        <div class="pre-value-block"><i class="icon-dashboard"></i> Total Visits</div>
                        <div class="value-block">
                            <div class="value-self">10,520</div>
                            <div class="value-sub">This Week</div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>*@
@*</body>*@



@*<h3 class="section-title first-title"><i class="icon-book"></i> Browse Courses</h3>
    <div class="row">
        @foreach (var data in Model.list) {

        <div class="col-lg-4 col-md-4 col-sm-6 text-center">
            <div class="widget-content-blue-wrapper changed-up">
                <div class="widget-content-blue-inner padded">
                    <a href="/Student/Enroll?CourseID=@data.CourseID">
                        <img src="~/images/@data.ImageLocation" alt="~/images/noimage.jpg" />
                    </a>
                    <div class="value-block">
                        <h4><a href="/Student/Enroll?CourseID=@data.CourseID">@data.Title</a></h4>
                        <br />
                        <p>@data.Description</p>

                        <h5>@data.InstructorName</h5>
                        <h6>Instructor</h6>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>*@



@*<body>*@
@*@foreach (var data in Model.list)
    {


        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="courses-heading panel-heading">
                    <a href="/Student/Enroll?CourseID=@data.CourseID">
                        <img src="~/images/@data.ImageLocation" alt="~/images/noimage.jpg" style="height:200px;width:100%" />
                    </a>
                </div><!--panel heading-->
                <br />
                <div class="panel-body">
                    <h4><a href="/Student/Enroll?CourseID=@data.CourseID">@data.Title</a></h4>
                    <br />
                    <p>@data.Description</p>
                </div><!--panel body-->
                <div class="panel-footer">

                    <h5>@data.InstructorName</h5>
                    <h6>Instructor</h6>

                </div><!-- footer -->
            </div><!-- div panel-->
        </div>//div md
    }*@
@*</body>*@


