﻿@model BusinessLayer.CourseModel

@{
    ViewBag.Title = "EditFavourites";
}

<h2>Edit Favourites</h2>
<hr />
@foreach (var data in Model.CategoryList)
{
    @data.CategoryName

    if (Model.FavoriteList.Count != 0)
    {
        foreach (var data2 in Model.FavoriteList)
        {

            if (data2.CategoryID == data.CategoryID)
            {

            <a class="btn btn-success" href="/Student/DeleteFavorite?TagID=@data.CategoryID">Remove from favourites</a>
            <a class="btn disabled btn-lg">One of your favourites</a>

            }
            else
            {

            <a class="btn btn-success" href="/Student/AddFavorite?TagID=@data.CategoryID">Add to favourites</a>

            }
        }
    }
    else
    {
        <a class="btn btn-success" href="/Student/AddFavorite?TagID=@data.CategoryID">Add to favourites</a>
    }

    <br />
}




