﻿@model BusinessLayer.CourseModel


@{
    ViewBag.Title = "Enroll";
}

@foreach (var data in Model.list)
{
    <h2>@data.Title</h2>
}
<br />
<hr />


<body>
    <div class="col-md-1"></div>
    <div class="col-md-9">
        @foreach (var data in Model.list)
        {
            <div class="col-md-12 spacer" id="ContentPlaceholder1">
            @if (Model.Matchfound != null)
            {  
               <a class="btn disabled btn-lg">YOU ARE ALREADY ENROLLED IN THIS COURSE</a>
            }
            else
            {
                // int stid = WebHelper.WebSession.AccountID;
                int stid = BusinessLayer.TokenModel.AccountID(WebHelper.WebSession.COOKIE_Token);
                int crsid = Convert.ToInt32(Request.QueryString["CourseID"].ToString());
                string Price = @data.CoursePrice;
                DateTime today = DateTime.Now;
                <a class="btn btn-success btn-lg" id="ContentPlaceholder1" href="@string.Format("/Student/EnrollStudent?CourseID={0}&StudID={1}", crsid,stid)">ENROLL AT $@Price</a>
            }
            </div><!-- enroll at spacer-->

            <div class="col-md-12 spacer">
                    <h4>Description</h4>
                <p>@data.Description</p>
            </div><!-- description spacer-->
            <div class="col-md-6 panel-default">
                <div class="panel-heading">
                    <h5>What will you learn</h5>
                </div><!--panel heading what will you learn-->
            </div><!-- what will you learn outer div-->
            <div class="col-md-6 panel-default">
                <div class="panel-heading">
                     <h5>Instructor biography</h5>
                </div><!--panel heading instructor-->
            </div><!--instructor outer div-->
        }
    </div>
</body>




 


