﻿@model BusinessLayer.StudentModel

@{
    ViewBag.Title = "Index";
}


<ol class="breadcrumb">
    <li><a href="/Student/FavouriteCourses">Browse Course</a></li>
    <li><a href="/Student/EditFavourites">Edit Favourite Course</a></li>
    <li><a href="/Student/Courses">My Courses</a></li>
</ol>
<div class="widget">
    <div class="widget-content-white glossed">
        <div class="padded">
            <h3 class="form-title form-title-first"><i class="icon-user"></i> Student Information</h3>
            <div>
                <table>
                    <tr>

                    </tr>
                </table>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Role)
                    </dt>

                    <dd>
                        @{int RoleInt = Convert.ToInt32(Model.Role);}
                        @DataAccessLayer.ItemsDBAccess.ConvertListTypeToString(DataAccessLayer.ItemsDBAccess.ConvertableListType.Roles, RoleInt)
                    </dd>

                    <dt>
                        Full Name
                    </dt>

                    <dd>
                        @string.Format("{0} {1}", Model.FirstName, Model.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Country)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Country)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </dt>

                    <dd>
                        @Model.DateCreated.ToLongDateString() at @Model.DateCreated.ToShortTimeString()
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastLogin)
                    </dt>

                    <dd>
                        @Model.LastLogin.ToLongDateString() at @Model.LastLogin.ToShortTimeString()
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.School)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.School)
                    </dd>

                </dl>
            </div>
        </div>
    </div>
</div>




        @*<h2>Index</h2>

            <div>
                <table>
                    <tr>
                        <td>
                            <h4>StudentModel</h4>
                            </td>
                        <td>
                            <ul class="nav navbar-nav">
                                <li class="active" style="background-color:#42a5f5;font-family:'Comic Sans MS';border-radius:20px">
                                <a href="/Student/BrowseCourse" style="color:white">Browse Courses</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Role)
                    </dt>

                    <dd>
                        @{int RoleInt = Convert.ToInt32(Model.Role);}
                        @DataAccessLayer.ItemsDBAccess.ConvertListTypeToString(DataAccessLayer.ItemsDBAccess.ConvertableListType.Roles, RoleInt)
                    </dd>

                    <dt>
                        Full Name
                    </dt>

                    <dd>
                        @string.Format("{0} {1}", Model.FirstName, Model.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Country)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Country)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </dt>

                    <dd>
                        @Model.DateCreated.ToLongDateString() at @Model.DateCreated.ToShortTimeString()
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastLogin)
                    </dt>

                    <dd>
                        @Model.LastLogin.ToLongDateString() at @Model.LastLogin.ToShortTimeString()
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.School)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.School)
                    </dd>

                </dl>
            </div>*@

