﻿@model BusinessLayer.StudentModel

@{
    ViewBag.Title = "Register: Student";
}

<h2>Register</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container" id="student">
        <div class="row signup-container center-block">
            <h2>Student Sign Up</h2>
            <hr class="colorgraph">
            @*<div class="alert alert-danger text-center" id="error2" runat="server" visible="false"></div>
                <div class="alert alert-success text-center" id="ok2" runat="server" visible="false"></div>
                <asp:ValidationSummary ID="ValidationSummary2" CssClass="alert alert-danger" runat="server" />*@

            @Html.ValidationSummary(true, "", new { @class = "text-danger" }) @*replaced with mvc validation summary*@

            <div class="col-md-12 ">
                <h4>Personal Information</h4>

                <div class="col-md-5">
                    <div class="form-group">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.FirstName) } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="form-group">
            
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.LastName) } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
              
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-7">
                    <div class="form-group">
                        @Html.EditorFor(model => model.School, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.School) } })
                        @Html.ValidationMessageFor(model => model.School, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*!!!There is no country in the data base and class yet*@
                <div class="col-md-5">
                    <div class="form-group">
                        @{var countrylist = DataAccessLayer.ItemsDBAccess.GetCountryList(); }
                        @Html.DropDownListFor(model => model.Country, countrylist, "-- Select Country --", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            
            <div class="col-md-12">
                <h4>Login Information</h4>
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.Email) } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.Password) } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.ConfirmPassword) } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>


            @*credit card information is mvc-fied*@
            <div class="col-md-12">
                <h3>Credit Card Information</h3>

                <div class="col-md-12">
                    <div class="form-group">
                        @Html.EditorFor(model => model.CardHolderName, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.CardHolderName) } })
                        @Html.ValidationMessageFor(model => model.CardHolderName, "", new { @class = "text-danger" })

                    </div>
                </div>


                <div class="col-md-12">
                    <div class="form-group">
                        @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.CardNumber) } })
                        @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">

                        @Html.EditorFor(model => model.CardExpirationMonth, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.CardExpirationMonth) } })
                        @Html.ValidationMessageFor(model => model.CardExpirationMonth, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.EditorFor(model => model.CardExpirationYear, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.CardExpirationYear) } })
                        @Html.ValidationMessageFor(model => model.CardExpirationYear, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.EditorFor(model => model.CardCVC, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.CardCVC) } })
                        @Html.ValidationMessageFor(model => model.CardCVC, "", new { @class = "text-danger" })

                    </div>
                </div>
                @*end of card info*@


                @*this button is mvc-fied if thats a word --noli*@
                <div class="col-md-4 col-md-offset-4">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


                            }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
