﻿@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    int AccountID = -1;
    AccountID = WebHelper.WebSession.AccountID;
    var StringModel = new BusinessLayer.ConfigurationStrings_HomeModel(AccountID);
    var ColorModel = new BusinessLayer.ConfigurationColorModel_Home();
    var BannerModel = new BusinessLayer.COnfigurationStrings_Banner();

    ViewBag.Title = StringModel.HomePage_Head_PageTitle;
}

<style>

li *{
   font-family: @StringModel.HomePage_Head_PageTitle_Li_FONT ;
    color: @ColorModel.HomePage_Li_COLOR;
}

h2 {
    font-family: @StringModel.HomePage_Head_PageTitle_H2_FONT ;
    color: @ColorModel.HomePage_H2_COLOR ;
}

h4 {
    font-family: @StringModel.HomePage_Head_PageTitle_H4_FONT ;
    color: @ColorModel.HomePage_H4_COLOR;
}

.intro{
    background: url(../../images/@BannerModel.HomePage_Head_Banner) no-repeat bottom center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
</style>

@*<header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><font style="font-family: @StringModel.HomePage_Head_PageTitle_FONT"> @StringModel.HomePage_Top_Header_String</font></div>
                <div class="intro-lead-in">@StringModel.HomePage_Top_Header_SubString</div>
                <a href=@Url.Action("Register", "Instructor", null) class="page-scroll btn btn-xl">I'm an Instructor</a>
                <br /><br />
                <a href=@Url.Action("Register", "Student", null) class="page-scroll btn btn-xl">I'm a Student</a>
            </div>
        </div> 
    </header>*@

<header class="intro" id="top">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading"><font style="font-family:@StringModel.HomePage_Head_PageTitle_FONT; color: @ColorModel.HomePage_Top_Header_COLOR; "> @StringModel.HomePage_Top_Header_String</font></h1>
                    <p class="intro-text">@StringModel.HomePage_Top_Header_SubString</p>

                    <a href="#features" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

@*<section id="features" class="container content-section text-center panel">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Features</h2>

            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="features-heading">Learn Anything Online</h4>
                    <p class="text-muted">Here in Whiteboard, course modules are within reach of students through our platform for online courses!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-university fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Teach Anything Online</h4>
                    <p class="text-muted">Build your courses through uploading different modules for your students to study!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-university fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">To improve user experience, design adapts to multiple devices!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="courses" class="container content-section text-center panel" style="background:#add6ff;">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Courses</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut varius odio, in tincidunt magna. Curabitur hendrerit elementum nibh in pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas nec rutrum massa, at laoreet neque. Curabitur id tempor ipsum. Fusce tellus sem, semper nec viverra eu, hendrerit quis augue. Nulla a magna arcu. Nunc euismod in dui vitae ultrices. Cras fringilla condimentum nulla nec efficitur. Vestibulum quis orci nec tellus commodo suscipit. Fusce ut condimentum orci.</p>
        </div>
    </div>
</section>

<section id="plans" class="container content-section text-center panel">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Plans and Pricing</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut varius odio, in tincidunt magna. Curabitur hendrerit elementum nibh in pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas nec rutrum massa, at laoreet neque. Curabitur id tempor ipsum. Fusce tellus sem, semper nec viverra eu, hendrerit quis augue. Nulla a magna arcu. Nunc euismod in dui vitae ultrices. Cras fringilla condimentum nulla nec efficitur. Vestibulum quis orci nec tellus commodo suscipit. Fusce ut condimentum orci.</p>
        </div>
    </div>
</section>*@
<section id="features" class="container content-section text-center panel">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>@StringModel.HomePage_Head_Tab1</h2>
            <h4>@StringModel.HomePage_Head_Tab1_detail</h4>

            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa @StringModel.HomePage_Head_Tab1_ICON fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="features-heading">@StringModel.HomePage_Tab1_1</h4>
                    <p class="text-muted">@StringModel.HomePage_Tab1_1_1</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa @StringModel.HomePage_Head_Tab2_ICON fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">@StringModel.HomePage_Tab1_2</h4>
                    <p class="text-muted">@StringModel.HomePage_Tab1_2_1</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa @StringModel.HomePage_Head_Tab3_ICON fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">@StringModel.HomePage_Tab1_3</h4>
                    <p class="text-muted">@StringModel.HomePage_Tab1_3_1</p>
                </div>
            </div>
        </div>
    </div>
</section>

@*<%--WHITEBOARD COURSES--%>*@
<section id="course" class="container content-section text-center panel" style="background-color: #0094ff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>@StringModel.HomePage_Head_Tab2</h2>
                <h4>@StringModel.HomePage_Head_Tab2_detail</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 course-item">
                <a href="#courseModal1" class="course-link" data-toggle="modal">
                    <div class="course-hover">
                        <div class="course-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/images/css3.jpg" class="img-responsive" alt="">
                </a>
                <div class="course-caption">
                    <h4>Web Design Using CSS3</h4>
                    <p class="text-muted">Learn how to design website using CSS3</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 course-item">
                <a href="#courseModal2" class="course-link" data-toggle="modal">
                    <div class="course-hover">
                        <div class="course-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/images/html5.jpg" class="img-responsive" alt="">
                </a>
                <div class="course-caption">
                    <h4>Web Development With HTML5</h4>
                    <p class="text-muted">Create Website using HTML5</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 course-item">
                <a href="#courseModal3" class="course-link" data-toggle="modal">
                    <div class="course-hover">
                        <div class="course-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/images/asp.png" class="img-responsive" alt="">
                </a>
                <div class="course-caption">
                    <h4>ASP.NET MVC</h4>
                    <p class="text-muted">Learn advance Microsoft.NET Technology</p>
                </div>
            </div>
        </div>
    </div>
</section>



@*<%--PRICING--%>*@

<section id="plans" class="container content-section text-center panel" style="background-color: #caf691;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@StringModel.HomePage_Head_Tab3</h2>
                <h3 class="section-subheading text-muted">@StringModel.HomePage_Head_Tab3_detail</h3>
            </div>
        </div>

        <div class="row wrapper">
            <div class='package'>
                <div class='name'><h2>@StringModel.HomePage_Plan1_Name</h2></div>
                <div class='price'>@StringModel.HomePage_Plan1_Monthly</div>
                <hr>
                <ul>
                    <li>
                        Post up to
                        <strong>@StringModel.HomePage_Plan1_NumberOfCourse</strong>
                        Courses
                    </li>
                    <li>
                        Add
                        <strong>@StringModel.HomePage_Plan1_NumberOfLesson</strong>
                        Lessons Each Course
                    </li>
                    <li>
                        Create
                        <strong>@StringModel.HomePage_Plan1_NumberOfQuestionBank</strong>
                        Question Bank
                    </li>
                    <li>
                        <strong>@StringModel.HomePage_Plan1_TransactionFee</strong>
                        Transaction Fee
                    </li>
                </ul>
            </div>
            <div class='package brilliant'>
                <div class='name'><h2>@StringModel.HomePage_Plan2_Name</h2></div>
                <div class='price'>@StringModel.HomePage_Plan2_Monthly</div>
                <hr>
                <ul>
                    <li>
                        Post
                        <strong>@StringModel.HomePage_Plan2_NumberOfCourse</strong>
                        Courses
                    </li>
                    <li>
                        Add
                        <strong>@StringModel.HomePage_Plan2_NumberOfLesson</strong>
                        Lessons
                    </li>
                    <li>
                        Create
                        <strong>@StringModel.HomePage_Plan2_NumberOfQuestionBank</strong>
                        Question Bank
                    </li>
                    <li>
                        <strong>@StringModel.HomePage_Plan2_ExtraFeature1</strong>

                    </li>
                    <li>
                        <strong>@StringModel.HomePage_Plan2_TransactionFee</strong>
                        Transaction Fee
                    </li>
                </ul>
            </div>
            <div class='package'>
                <div class='name'><h2>@StringModel.HomePage_Plan3_Name</h2></div>
                <div class='price'>@StringModel.HomePage_Plan3_Monthly</div>
                <hr>
                <ul>
                    <li>
                        Post up to
                        <strong>@StringModel.HomePage_Plan3_NumberOfCourse</strong>
                        Courses
                    </li>
                    <li>
                        Add
                        <strong>@StringModel.HomePage_Plan3_NumberOfLesson</strong>
                        Lessons Each Course
                    </li>
                    <li>
                        Create
                        <strong>@StringModel.HomePage_Plan3_NumberOfQuestionBank</strong>
                        Question Bank
                    </li>
                    <li>
                        <strong>@StringModel.HomePage_Plan3_TransactionFee</strong>
                        Transaction Fee
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
