﻿
@{
    ViewBag.Title = "AddQuestion";
    @model BusinessLayer.QuestionModel
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>AddQuestion</h2>


<div>

    

    @using (@Html.BeginForm("AddQuestion", "Instructor", FormMethod.Post))
    {
        int sample;

        @Html.Label("Question Type")
        @Html.DropDownList("QuestionType", new List<SelectListItem>
            {
            new SelectListItem{ Text="Fill in the blank", Value = "Fillintheblank" },
            new SelectListItem{ Text="True or False", Value = "TrueorFalse" },
            new SelectListItem{ Text="Multiple Choice", Value = "MultipleChoice" },

            }, new Dictionary<string, object> { { "ng-model", "questionType" } })

            <br />
            @Html.Label("Question")
            @Html.TextBox("Question")
            <br />
            <br />
            @Html.Label("Answer")
            @Html.TextBox("Answer")
            <br />
            <div class="form-group" id="choices" ng-show="questionType=='MultipleChoice'">
                @Html.Label("Choice A")
                @Html.TextBox("ChoiceA")
                @Html.Label("Choice B")
                @Html.TextBox("ChoiceB")
                @Html.Label("Choice C")
                @Html.TextBox("ChoiceC")
                @Html.Label("Choice D")
                @Html.TextBox("ChoiceD")
            </div>
            <input type="submit" value="Add Question" name="btn1" />
            <br />
            <br />
            <br />
            <br />

        foreach (var question in Model.questionlist)
        {
            sample = @question.QuestionBankID;
            <div class='col-md-4'>
                <div class='panel panel-default'>
                    <div class='courses-heading panel-heading'>
                        <div class='panel-body'><h4>@question.QuestionType</h4></div>
                        @question.Question
                        <br />
                     Answer:   @question.Answer
                       
                        <br />

                    </div>
                </div>
            </div>
       
        
        }
    }
@using (@Html.BeginForm("Quiz", "Instructor", FormMethod.Post))
{
        @Html.ActionLink("Create Quiz", "Quiz", new { ID = Model.QuestionBankID }, new { htmlAttributes = new { @class = "btn btn-default" } })
}
</div>





