﻿@model BusinessLayer.CourseModel

@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> DropdownItemList = null;
}

<h2>Course</h2>
<div class="widget">
    <div class="row">
        @foreach (var data in Model.list)
        {

            <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                <div class="widget-content-blue-wrapper changed-up">
                    <div class="widget-content-blue-inner padded">
                        <a href="/Student/Enroll?CourseID=@data.CourseID">
                            <img src="~/images/@data.ImageLocation" style="height:200px;width:100%" />
                        </a>
                        <div class="value-block">
                            <div class="value-self"><a href="/Student/Enroll?CourseID=@data.CourseID">@data.Title</a></div>
                            <div class="value-sub">@data.Description</div>
                            <br />
                            @Html.ActionLink("GO TO COURSE", "Lessons", new { CourseID = data.CourseID }, new { htmlAttributes = new { @class = "btn btn-default" } })

                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="col-lg-4 col-md-4 col-sm-6 text-center">
            <div class="widget-content-blue-wrapper changed-up">
                <div class="widget-content-blue-inner padded">
                    <div class="value-block">
                        <div class="value-self">
                            <a href='#' data-toggle='modal' data-target='#addCourse' data-backdrop='static' data-keyboard='false'>
                                Add New Course

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@using (Html.BeginForm("CreateCourse", "Instructor", new { id = Model.ID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

   <!-- atHtml.AntiForgeryToken()-->
    <div id="addCourse" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Course</h4>
                </div>
                <div class="modal-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <label>Title</label>
                    <br />
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.Title) } })
                    <br />
                    <label>Description</label>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.Description) } })
                    <br />
                    <label>Upload Image (200x200)</label>
                    <input type="file" name="uploadImages" class="form-control" />
                    @Html.HiddenFor(model => model.ImageLocation)
                    <br />
                    <label>Category</label>
                    <br />
                    @{DropdownItemList = DataAccessLayer.CourseDBAccess.GetAllCategories(); }
                    @Html.DropDownListFor(model => model.CategoryID, DropdownItemList, "-Category-", new { @class = "form-control" })
                    <br />
                    <label>Course Price ($)</label>
                    <div class="row">
                        <div class="col-md-2">@Html.EditorFor(model => model.CoursePrice, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.CoursePrice) } })</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <br />
                            <input type="submit" value="Add Course" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}


@*<header class="sub-header">
        <div class="container sub">
            <div class="col-xs-5">

                <div id="profile_img" class="img-circle profile-img pull-left"><!--insert img src here--></div>
                <div class="pull-left">
                    <h3 id="profile_name">@Model.InstructorName</h3>

                    <h5>Instructor</h5>
                </div>
            </div>
            <div class="col-xs-4">

            </div>
        </div>
    </header>
    <div class="container">
        <div class="col-md-9">

            @foreach (var data in Model.list)
            {
                <div class='col-md-4'>
                    <div class='panel panel-default'>
                        <div class='courses-heading panel-heading'>
                            <img height="150" src="~/App_Data/images/@data.ImageLocation" />
                            <div class='panel-body'><h4>@data.Title</h4></div>
                            <div class='panel-footer'>
                                @Html.ActionLink("GO TO COURSE", "Lessons", new { CourseID = data.CourseID }, new { htmlAttributes = new { @class = "btn btn-default" } })
                        </div>
                    </div>
                </div>
            </div>
            }
            <div class='col-md-4'>

                <a href='#' data-toggle='modal' data-target='#addCourse' data-backdrop='static' data-keyboard='false'>

                    <div class='panel panel-default'>
                        <div class='panel-body course-add'>
                            <i class='fa fa-plus fa-3x'></i>
                        </div>
                    </div>
                </a>
            </div>


            @using (Html.BeginForm("CreateCourse", "Instructor", new { id = Model.ID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

       <!-- atHtml.AntiForgeryToken()-->
                <div id="addCourse" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Course</h4>
                            </div>
                            <div class="modal-body">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <label>Title</label>
                                <br />
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.Title) } })
                                <br />
                                <label>Description</label>
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.Description) } })
                                <br />
                                <label>Upload Image (200x200)</label>
                                <input type="file" name="uploadImages" class="form-control" />
                                @Html.HiddenFor(model => model.ImageLocation)
                                <br />
                                <label>Category</label>
                                <br />
                                @{DropdownItemList = DataAccessLayer.CourseDBAccess.GetAllCategories(); }
                                @Html.DropDownListFor(model => model.CategoryID, DropdownItemList, "-Category-", new { @class = "form-control" })
                                <br />
                                <label>Course Price ($)</label>
                                <div class="row">
                                    <div class="col-md-2">@Html.EditorFor(model => model.CoursePrice, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.CoursePrice) } })</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <br />
                                        <input type="submit" value="Add Course" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                    }

        </div>




    </div>*@

<!---
<script src="../js/jquery.js"></script>


<script src="../js/bootstrap.min.js"></script>
    -->
<!-- Added Bundles for default bootstrap and jquery-->
@Scripts.Render("~/integ/oldModal")

<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $(function () {
        $(".drag").sortable();
        $(".drag").disableSelection();
    });
</script>





