﻿@model BusinessLayer.InstructorModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>InstructorModel</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @{int RoleInt = Convert.ToInt32(Model.Role);}
            @DataAccessLayer.ItemsDBAccess.ConvertListTypeToString(DataAccessLayer.ItemsDBAccess.ConvertableListType.Roles, RoleInt)
        </dd>

        <dt>
            Full Name
        </dt>

        <dd>
            @string.Format("{0} {1} {2}", Model.Title,Model.FirstName,Model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Model.DateCreated.ToLongDateString() at @Model.DateCreated.ToShortTimeString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLogin)
        </dt>

        <dd>
            @Model.LastLogin.ToLongDateString() at @Model.LastLogin.ToShortTimeString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionPlan)
        </dt>

        <dd>
            @{int PlanInt = Convert.ToInt32(Model.SubscriptionPlan);}
            @DataAccessLayer.ItemsDBAccess.ConvertListTypeToString(DataAccessLayer.ItemsDBAccess.ConvertableListType.SubcriptionPlan, PlanInt)  
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment)
        </dt>

        <dd>
            @{int PayInt = Convert.ToInt32(Model.Payment);}
            @DataAccessLayer.ItemsDBAccess.ConvertListTypeToString(DataAccessLayer.ItemsDBAccess.ConvertableListType.PaymentMode, PayInt)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Courses", "Course", new { id = Model.InstructorID }, null)*@
    @Html.ActionLink("QuestionBank", "QuestionBank", new { id = Model.InstructorID }, null)
</p>

