﻿@model BusinessLayer.CourseModel

@{
    ViewBag.Title = "Lessons";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> DropdownItemList = null;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>


<h2>Lessons</h2>

<div class="tabbable-panel">
    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#course" data-toggle="tab">
                    <h5><i class="fa fa-book"></i> Course</h5>
                </a>
            </li>
            <li>
                <a href="#lesson" data-toggle="tab">
                    <h5><i class="fa fa-file"></i> Lesson</h5>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="course">
                @using (Html.BeginForm("EditCourse", "Instructor", new { CourseID = Model.CourseID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <label>Title</label>
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.Title) } })
                    <br />
                    <label>Description</label>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", text = Model.Description, placeholder = @Html.DisplayNameFor(model => model.Description) } })
                    <br />
                    <label>Upload Image (200x200)</label>
                    <input type="file" name="uploadImages" class="form-control" />
                    @Html.HiddenFor(model => model.ImageLocation)
                    <br />
                    <label>Category</label>
                    <br />
                    { DropdownItemList = DataAccessLayer.CourseDBAccess.GetAllCategories(); }
                    @Html.DropDownListFor(model => model.CategoryID, DropdownItemList, "-Category-", new { @class = "form-control" })
                    <br />
                    <label>Course Price ($)</label>
                    <div class="row">
                        <div class="col-md-2">@Html.EditorFor(model => model.CoursePrice, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.CoursePrice) } })</div>
                    </div>
                        <div class="row">
                            <div class="col-md-2 pull-right">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 spacer">
                                <br />
                                <input type="submit" value="Edit Course" class="btn btn-primary" />
                            </div>
                        </div>

                }


            </div>

            <div class="tab-pane" id="lesson">
                <div class="row">
                    <div class="col-xs-6">
                        <div id="lessonCount"><h5 id="counter">LESSONS </h5></div>
                    </div>
                    <div class="col-xs-6">
                        <span class="pull-right">
                            <a href="#" data-target="#addLesson" data-toggle="modal" class="btn btn-primary">Add Lesson</a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="drag list-group" id="sortable">
                            @foreach (var data in Model.listLesson)
                            {
                                <li class='ui-state-default list-group-item lesson-list'>
                                    <div class='row'>
                                        <div class='col-md-10'>
                                            <a href="#">
                                                <h4>@data.LTitle</h4>
                                            </a>
                                        </div><div class='col-md-2'>
                                            @Html.ActionLink("Edit Lesson", "LessonContent", new { LessonID = data.LessonID }, new { htmlAttributes = new { @class = "btn btn-default" } })
                                            @using (Html.BeginForm("DeleteLesson", "Instructor", new { LessonID = data.LessonID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                                                <div>
                                                    <input type="submit" value="Delete Lesson" class="btn btn-primary" />
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal-->


<div id="addLesson" class="modal fade" role="dialog">
    <div class="modal-dialog">
        @using (Html.BeginForm("CreateLesson", "Instructor", new { LCourseID = Model.CourseID }, FormMethod.Post, null))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Lesson</h4>
                </div>
                <div class="modal-body">
                    <label>Lesson Title</label>
                    @Html.EditorFor(model => model.LTitle, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.LTitle) } })
                    <br />
                    <label>Content</label>.
                    @Html.TextAreaFor(model => model.LContent, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.LContent) } })

                    <br />
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse1">Add Quiz To This Lesson</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row spacer">
                                        <div class="col-xs-4"><h5>Select From Question Bank</h5></div>
                                        <div class="col-xs-6">
                                            <!--QUESTION BANK LIST-->
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-3"><h5 class="pull-right">No. of Questions</h5></div>
                                        <div class="col-xs-2"><input type="text" class="form-control" id="noQuestions" /></div>
                                        <div class="col-xs-3"><h5 class="pull-right">Passing Score(%)</h5></div>
                                        <div class="col-xs-2"><input type="text" class="form-control" id="passing" /></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <input type="submit" value="Add Lesson" class="btn btn-primary" />

                </div>
            </div>

        }
    </div>
</div>



<!--<script src="../js/jquery.js"></script>

<!-- Bootstrap Core JavaScript
<script src="../js/bootstrap.min.js"></script>-->

@Scripts.Render("~/integ/oldModal")

<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $(function () {
        $(".drag").sortable();
        $(".drag").disableSelection();
    });
</script>


