﻿@model BusinessLayer.CourseModel

@{
    ViewBag.Title = "LessonContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>


<h2>@Model.LTitle</h2>

<div class="tabbable-panel">
    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#lesson" data-toggle="tab">
                    <h5><i class="fa fa-book"></i> Lesson</h5>
                </a>
            </li>
            <li>
                <a href="#file" data-toggle="tab">
                    <h5><i class="fa fa-file"></i> Files</h5>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="lesson">
                @using (Html.BeginForm("EditLesson", "Instructor", new { LessonID = Model.LessonID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <label>Lesson Title</label>
                    @Html.EditorFor(model => model.LTitle, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.LTitle) } })
                    <br />
                    <label>Content</label>
                    @Html.TextAreaFor(model => model.LContent, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.LContent) } })

                    <div class="row">
                        <div class="col-md-2 spacer">
                            <br />
                            <input type="submit" value="Edit Lesson" class="btn btn-primary" />
                        </div>
                    </div>

                }

                @using (Html.BeginForm("DeleteLesson", "Instructor", new { LessonID = Model.LessonID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div>
                        <input type="submit" value="Delete Lesson" class="btn btn-primary" />
                    </div>
                }
            </div>


            <div class="tab-pane" id="file">

                <div class="row">
                    <div class="col-xs-12">
                        @using (Html.BeginForm("UploadFile", "Instructor", new { LessonID = Model.LessonID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <label>File Title</label>
                            @Html.EditorFor(model => model.FileTitle, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.FileTitle) } })
                            <br />
                            <label>Upload File</label>
                            <input type="file" name="uploadFile" class="form-control" />
                            @Html.HiddenFor(model => model.FileLoc)

                            <div class="row">
                                <div class="col-md-2 spacer">
                                    <br />
                                    <input type="submit" value="Add File" class="btn btn-primary" />
                                </div>
                            </div>


                            
                        }

                        <ul class="drag list-group" id="sortable">
                            @foreach (var data in Model.listFiles)
                            {
                                <li class='ui-state-default list-group-item lesson-list'>
                                    <div class='row'>
                                        <div class='col-md-10'>
                                            <a href="~/files/@data.FileLoc">
                                                <h4>@data.FileTitle</h4>
                                            </a>
                                        </div><div class='col-md-2'>
                                            @using (Html.BeginForm("DeleteFile", "Instructor", new { FileID = data.FileID }@*, FormMethod.Post, new { enctype = "multipart/form-data" }*@))
                                            {
                                                <div>
                                                    <input type="submit" value="Delete File" class="btn btn-primary" />
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>


<!-- Modal-->


@Scripts.Render("~/integ/oldModal")

<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $(function () {
        $(".drag").sortable();
        $(".drag").disableSelection();
    });
</script>




