﻿
@{
    @model BusinessLayer.QuestionModel
    ViewBag.Title = "CreateQuestionBank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Question Bank</h2>
<div>

    @using (@Html.BeginForm("QuestionBank", "Instructor", FormMethod.Post))
    {
        
                @Html.Label("Lesson Title")
                
                @Html.TextBox("LessonTitle")
        <br />
                @Html.Label("Description")
                @Html.TextBox("Description")
        <br />
        <input type="submit" value="Add Question Bank" name="Command" />


        <br />
        <br />
        <br />
        <br />

        foreach (var item in Model.list)
        {
            <div class='col-md-4'>
                <div class='panel panel-default'>
                    <div class='courses-heading panel-heading'>
                        @*<img height="150" src="~/App_Data/images/@data.ImageLocation" />*@
                        <div class='panel-body'><h4>@item.Description</h4>@Html.ActionLink("Add Question", "AddQuestion", new { ID = item.QuestionBankID }, new { htmlAttributes = new { @class = "btn btn-default" } })</div>
                        <br />
                           
                    </div>
                </div>
            </div>
        
      
            
         }
       

    }
</div>


