﻿
@{
    ViewBag.Title = "Quiz";
 @model BusinessLayer.QuizModel
}

<h2>Quiz</h2>

<div>

@using (@Html.BeginForm("Quiz", "Instructor", FormMethod.Post))
{

    @Html.Label("Select Lesson")
    <select name="listbox" id="listbox">
        @foreach (var item in Model.lessonlist)
        {

            <option value="@item.LessonID">
                @item.LessonID.ToString()  @item.Title.ToString();
            </option>
        }
    </select>

    //  @Html.DropDownList("Mobiledropdown1", Model.MobileList)
                     @Html.Label("Quiz Title:")
                    @Html.TextBox("QuizTitle")
                  <br />
                @Html.Label("Number of Items:")
                @Html.TextBox("numItems")
                <br />
                @Html.Label("Passing grade")
                @Html.TextBox("passingGrade")
    <input type="submit" value="Create Quiz" name="Command" />
}
</div>

