﻿@model BusinessLayer.InstructorModel

@{
    ViewBag.Title = "Register: Instructor";
    List<SelectListItem> DropdownItemList = null;
}

<h2>Register</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container" id="instructor">
        <div class="row signup-container center-block">
            <h2>Instructor Sign Up</h2>
            <hr class="colorgraph">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" }) @*replaced with mvc validation summary*@


            <div class="col-md-12 ">
                <h4>Personal Information</h4>
                <div class="col-md-3">
                    <div class="form-group">
                        @{DropdownItemList = DataAccessLayer.ItemsDBAccess.GetNameTitleList(); }
                        @Html.DropDownListFor(model => model.Title, DropdownItemList, "-Title-", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.FirstName) } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.LastName) } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.EditorFor(model => model.SubjectArea, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.SubjectArea) } })
                        @Html.ValidationMessageFor(model => model.SubjectArea, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.EditorFor(model => model.Organization, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.Organization) } })
                        @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @{DropdownItemList = DataAccessLayer.ItemsDBAccess.GetCountryList(); }
                        @Html.DropDownListFor(model => model.Country, DropdownItemList, "-Country-", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <h3>Subscription & Payment</h3>
                <div class="col-md-7">
                    <div class="form-group">
                        @{DropdownItemList = DataAccessLayer.ItemsDBAccess.GetSubscriptionPlanList(); }
                        @Html.DropDownListFor(model => model.SubscriptionPlan, DropdownItemList, "-Plan-", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SubscriptionPlan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @{DropdownItemList = DataAccessLayer.ItemsDBAccess.GetPaymentModeList(); }
                        @Html.DropDownListFor(model => model.Payment, DropdownItemList, "-Payment Method-", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Payment, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*TRY CALLING AJAX FOR THIS?? --noli  <------------------------#### NOTE
                    <div class="col-md-12"><hr class="line" /></div>
                    <div class="col-md-12 total" id="totalPayment">*@

            </div>


            <div class="col-md-12">
                <div class="form-group">
                    @Html.EditorFor(model => model.CardHolderName, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.CardHolderName) } })
                    @Html.ValidationMessageFor(model => model.CardHolderName, "", new { @class = "text-danger" })

                </div>
            </div>


            <div class="col-md-12">
                <div class="form-group">
                    @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.CardNumber) } })
                    @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">

                    @Html.EditorFor(model => model.CardExpirationMonth, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.CardExpirationMonth) } })
                    @Html.ValidationMessageFor(model => model.CardExpirationMonth, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.EditorFor(model => model.CardExpirationYear, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.CardExpirationYear) } })
                    @Html.ValidationMessageFor(model => model.CardExpirationYear, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.EditorFor(model => model.CardCVC, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.CardCVC) } })
                    @Html.ValidationMessageFor(model => model.CardCVC, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="col-md-12">
                <h4>Login Information</h4>
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.Email) } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.Password) } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.ConfirmPassword) } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>



    </div>

                            }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
