﻿@model BusinessLayer.ProgressModel
@{
    ViewBag.Title = "StudentProgress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student Progress</h2>

<div>
    <table>
        <tr>
            <td><label>Student ID </label></td>
            <td><label>Course ID </label></td>
            <td><label>Student Progress </label></td>
        </tr>
        @foreach (var data in Model.listProgress)
        {
            <tr>
                <td style="width:240px;margin-left:30px; margin-right:30px;">
                    @data.StudentID
                </td>
                <td style="width:240px;margin-left:30px; margin-right:30px;">
                    @data.CourseID
                </td>
                <td style="width:240px;margin-left:30px; margin-right:30px;">
                    @data.Progress
                </td>
            </tr>
        }


    </table>

</div>


