@font-face {
    font-family: "Eraser";
    src: url(../fonts/EraserRegular.ttf);
}
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #fa9a03;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  text-decoration: none;
  color:#222;
}
a {
  /*color: #fa9a03;*/
}
a:hover,
a:focus,
a:active,
a.active {
  color: #0c8fe8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.modal-backdrop
{
    opacity:0.9 !important;
}
.btn-primary {
  color: #ffffff;
  background-color: #42a5f5;
  border-color: #0d89ed;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #128ef2;
  border-color: #0d89ed;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #128ef2;
  border-color: #0d89ed;
}

.navbar-default .navbar-brand {
  color: #42a5f5;
  font-family: "Eraser", "Helvetica Neue", Helvetica, Arial, cursive;
  font-weight: 700;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #42a5f5;
}

.navbar-default .navbar-toggle {
  background-color: #42a5f5;
  border-color: #42a5f5;
}

.navbar-default .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #42a5f5;
  outline: none;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #42a5f5;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #42a5f5;
}
.navbar-default {
    padding: 10px 0;
    border: none;
    border-bottom:1px solid #e2e2e2;
  }
.navbar-default .navbar-brand {
font-size: 2em;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}
.navbar-default .navbar-nav > .active > a {
border-radius: 3px;
}

.navbar-default.navbar-shrink .navbar-brand {
font-size: 1.5em;
}

.sub-header
{
	background-color: #42a5f5;
	margin-bottom:50px;
}

.sub-header-light
{
	background-color: #fff;
    border-bottom:1px solid #e2e2e2;
	margin-bottom:50px;
}
.sub-header-light-heading
{
   color:#000000 !important;
}
.sub-header-light-rate
{
   color:#ffd200 !important;
}
.courses-heading
{
    padding:0px !important;
}
#course-img
{
    width:100%;
}
.course-add
{
   text-align:center;
    height:150px;
    background: #eee;
}
.course-add i
{
    margin-top:40px;
}

/*LOGIN*/
.login-container
{
    border:1px solid #000;
    margin-top:120px;
    max-width: 450px;
    padding: 30px 38px 66px;
    background-color: #eee;
     border: 1px dotted rgba(0,0,0,0.1);  
}
.login-heading
{
    text-align:center;
    margin-bottom: 10px;
    font-family: "Eraser";
    font-size:3.8em;
    color:#42a5f5;
}
.login-container .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.login-container input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align:center;
}

.login-container  input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align:center;
}
a
.login-container ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
.login-container :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #bbbbbb;
}
.login ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #bbbbbb;
}
.login :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #bbbbbb;
}
.login-container .colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}




/* Tabs panel */
.tabbable-panel {
  padding:20px 30px;
  color: #333;
  background-color: #f5f5f5;
  border:1px solid #ddd;
  margin-bottom:50px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #96cbf6;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #42a5f5;
ion: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
.lesson-list
{
    padding: 10px;
    margin-bottom:10px;
    margin-top:10px;
    border-radius: 5px;
}
.lesson-header
{
    padding:0px 30px;
    border:1px solid #000;

}
#sortable
{
    width:100%;
    margin:Auto;
}
#sortable a
{
    margin-top:8px;
}
.questionbank-header
{
    padding:15px;
}

.question-panel
{

    padding: 10px 20px !important;
}
.quiz-label
{
    font-size:0.8em;
    margin:-10px 15px;
    color:#bbb;
}
.spacer
{
    margin-bottom:20px !important;
}
.line
{
    border-top: 2px solid #222;
}
.total
{
    margin-top:-20px !important;
    font-size:1.6em;
    font-weight: 800;
    margin-bottom:20px;
}

.signup-container
{
    border:1px solid #000;
    margin-top:150px;
    max-width: 650px;
    padding: 30px 20px;
    background-color: #eee;
    border: 1px dotted rgba(0,0,0,0.1);
    margin-bottom: 100px;
}

.signup-container .form-control {
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.signup-container input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}

.signup-container  input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
a
.signup-container ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
.signup-container :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #bbbbbb;
}
.signup ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #bbbbbb;
}
.signup :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #bbbbbb;
}
.signup-container .colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


.sub
{
    margin-top:70px;
    padding:25px 0px !important;
}
.sub h3
{
    display:inline-block;
    margin-left:10px;
    margin-bottom: 0px;
    margin-top:18px;
    color:#fff;
}

.sub h5
{
    margin-top:0px;
    margin-left:10px;
    color:#90ccfd;
}
.profile-img
{
    width:80px;
    height:80px;
    display:inline-block;
}
.browse-course
{
    display:block;
    padding-top:10px;
    padding-left:25px;

}
.browse-course h3
{
    font-size:1em;
    margin-top:10px;
    margin-bottom:0px !important;
    margin-left:10px;
}
.browse-course h5
{
    font-size:0.7em;
    margin-left:10px;
    margin-top:0px;
    color:#aaa;
}
.course-instructor
{
    width:50px;
    height:50px;
    display:inline-block;
}

.no-margin
{
    margin:0px;
    border-top:2px solid;
}

.fix-height
{
    max-height:180px;
    min-height:180px;
    display:block;
}
.enroll-label
{
    background:#e2e2e2;
    padding:15px 30px;
}
.enroll-label h3
{
    margin-top:0px;
}
.card
{
    display:inline;
    margin-left:14px;
}
.remove-margin
{
    margin:0px;
}
.myCoursesTitle
{
    margin-left:15px;
}

.progress-label
{
    font-size:0.8em;
    margin:0px;
}
.progress-header
{
    padding:10px;
}
.progress-track
{
    height:10px;
    border-radius:0px;
    border:1px solid #ccc;
    margin:0px;
    margin-top:5px;
}

.login-footer
{
    margin-top:10px;
    color:#bbb;
    font-size: 0.9em;
}