﻿
@{
    ViewBag.Title = "Color Changer";
}

<h2>Color Configuration</h2>
<br />
<br />
<br />
<br />
@Html.ActionLink("Change Home Colors", "ColorsManagement_HomePage", "Admin")

<br />
<br />
<br />
<br />
<br />