﻿@model BusinessLayer.ConfigurationColorModel_Home

@{
    ViewBag.Title = "ColorsManagement_HomePage";
}

<h2>Configuration</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Home Colors</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.CurrentEditor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CurrentEditor)
                @Html.ValidationMessageFor(model => model.CurrentEditor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomePage_Navigation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePage_Navigation)
                @Html.ValidationMessageFor(model => model.HomePage_Navigation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomePage_Head_WebsiteName_COLOR, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePage_Head_WebsiteName_COLOR)
                @Html.ValidationMessageFor(model => model.HomePage_Head_WebsiteName_COLOR)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomePage_Top_Header_COLOR, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePage_Top_Header_COLOR)
                @Html.ValidationMessageFor(model => model.HomePage_Top_Header_COLOR)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomePage_H2_COLOR, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePage_H2_COLOR)
                @Html.ValidationMessageFor(model => model.HomePage_H2_COLOR)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomePage_H4_COLOR, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePage_H4_COLOR)
                @Html.ValidationMessageFor(model => model.HomePage_H4_COLOR)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomePage_Li_COLOR, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePage_Li_COLOR)
                @Html.ValidationMessageFor(model => model.HomePage_Li_COLOR)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
