﻿
@{
    ViewBag.Title = "Logs";
    int o=0, n=50;
    BusinessLayer.AuditModels AuditModel = new BusinessLayer.AuditModels();
    try
    { o = Convert.ToInt32(Request.Params["next"]); }
    catch { o = 0; }



    AuditModel.ReAudit(o,n);
}
<br /><br /><br /><br /><br /><br />
<h2>Logs</h2>
    <table class="table table-striped" style="margin: 2em;">
        <tr>
            <th scope="row">Log ID</th>
            <th scope="row">Account ID</th>
            <th scope="row">Command</th>
            <th scope="row"><span style="width:10em">Date</span></th>
            <th scope="row">Details</th>
            
        </tr>

        @foreach (BusinessLayer.AuditModel item in AuditModel.Audits)
        {
            <tr>
                <td>@item.LogID</td>
                <td><span style="color:cornflowerblue">@item.UserID</span></td>
                <td><span style="color:orangered">@item.Command</span></td>
                <td>@item.DateExecuted.ToLocalTime()</td>
                <td>
                    <b>Query: </b>
                    <span style="color:orangered; width:10em;">@item.SqlCommand</span> <br />

                    <b>Description:</b>
                    @item.Description
                </td>

                

            </tr>
        }
        
    </table>
<a href=@Url.Action("Logs", "Admin", new { Id = o+50})>Next 50</a>
