﻿
@{
    ViewBag.Title = "String Changer";
}

<h2>Strings Configuration</h2>


<br />
<br />
<br />
<br />
<br /><br />

@Html.ActionLink("Change Homepage Strings", "StringsManagement_HomePage", "Admin")
<br /><br />
@Html.ActionLink("Change Homepage Colors", "ColorsManagement_HomePage", "Admin")
<br /><br />
@Html.ActionLink("Change Homepage Banner", "StringsManagement_Banner", "Admin")
<br />
<br />
<br />
<br />
<br />