﻿
@if (Session["ShowSuccess"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong><br />
        @Session["ShowSuccess"].ToString()
        @{Session["ShowSuccess"] = null;}
    </div>
}

@if (Session["ShowInfo"] != null)
{
    <div class="alert alert-info">
        <strong>Info!</strong><br />
        @Session["ShowInfo"].ToString()
        @{Session["ShowInfo"] = null;
        }
    </div>
}
@if (Session["ShowWarning"] != null)
{
    <div class="alert alert-warning">
        <strong>Warning!</strong><br />
        @Session["ShowWarning"].ToString()
        @{Session["ShowWarning"] = null;
        }
    </div>
}
@if (Session["ShowDanger"] != null)
{
    <div class="alert alert-danger">
        <strong>Danger!</strong><br />
        @Session["ShowDanger"].ToString()
        @{Session["ShowDanger"] = null;
        }
    </div>
}