﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" />
    <meta name="author" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@

    @Styles.Render("~/Content/basicCSS")
    <!-- added during integration -->
    @Styles.Render("~/wb/wb_home_css")
    @*@Scripts.Render("~/bundles/modernizr")*@

    @{ var StrModel = new BusinessLayer.ConfigurationStrings_HomeModel(WebHelper.WebSession.AccountID);
        var ColorModel = new BusinessLayer.ConfigurationColorModel_Home();
    }

    @*external css created for further layout customization if needed - itsmeniel*@
    @*thank you, -sincerely noli/feature/customization*@
    <style>
        .navbar-custom.top-nav-collapse {
            padding: 0;
            border-bottom: 1px solid rgba(255,255,255,.3);
            background: #0062c4;
        }


    </style>

    
</head>
<body class="index" ng-app>

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" style="background-color: @ColorModel.HomePage_Navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="~/images/logo2.png">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            @Html.Partial("_PartialHeaderLinks")
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    @Html.Partial("_GlobalNotification")

    @RenderBody()
    <!-- supoosedly the body -->

    @*<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright">@StrModel.HomePage_Copyright</span>
                </div>
            </div>
        </div>
    </footer>*@



    @*included*@
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@

    @*angular*@
    @*@Scripts.Render("~/integ/angular")*@

    @*integ*@
    @Scripts.Render("~/wbJS/homejs")
    <script>
	$(function () { // wait for document ready
		// init
		var controller = new ScrollMagic.Controller({
			globalSceneOptions: {
				triggerHook: 'onLeave'
			}
		});

		// get all slides
		var slides = document.querySelectorAll("section.panel");

		// create scene for every slide
		for (var i=0; i<slides.length; i++) {
			new ScrollMagic.Scene({
					triggerElement: slides[i]
				})
				.setPin(slides[i])
				.addTo(controller);
		}
	});
    </script>
    @*required*@
    @RenderSection("scripts", required: false)
</body>
</html>
