﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" />
    <meta name="author" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("//tinymce.cachefly.net/4.0/tinymce.min.js")
    <script>
    tinymce.init({ selector: 'textarea' });
    </script>


    @*@Styles.Render("~/Content/css")*@
    <!-- added during integration -->
    @*@Styles.Render("~/integ/main_css")*@

    @*@Scripts.Render("~/bundles/modernizr")*@

    @Styles.Render("~/admin/admin_header")

    @{BusinessLayer.SideMenuModel Menu;

      var StringModel = new BusinessLayer.ConfigurationStrings_HomeModel();
      
        int Role = BusinessLayer.TokenModel.Role(WebHelper.WebSession.COOKIE_Token);
        switch (Role)
        {
            case 0: // admin
                Menu = BusinessLayer.AdminModel.SideMenu(Url);
                break;
            case 1: //instructor
                Menu = BusinessLayer.InstructorModel.SideMenu(Url, BusinessLayer.TokenModel.AccountID(WebHelper.WebSession.COOKIE_Token));

                break;
            case 2: //student
                Menu = BusinessLayer.StudentModel.SideMenu(Url);
                break;
            default:
                Menu = new BusinessLayer.SideMenuModel();
                break;
        }

        }

</head>
<body class="index" ng-app>

    <div class="all-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="side-bar-wrapper collapse navbar-collapse navbar-ex1-collapse">
                    <a href="#" class="logo hidden-sm hidden-xs">
                        <span>@StringModel.HomePage_Head_WebsiteName</span>
                    </a>

                    <div class="relative-w">
                        
                        @Html.Partial("_SideMenuListBuilder",Menu)
                        @*<ul class="side-menu">
                            <li class='current'>
                                <a class='current' href="#">
                                    <i class="icon-dashboard"></i> Dashboard
                                </a>
                            </li>
                            <li>
                                <a href="charts.html" class="is-dropdown-menu">
                                    <span class="badge pull-right"></span>
                                    <i class="icon-gear"></i> Settings
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="icon-bookmark"></i>
                                            Edit Home Page String
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-bookmark"></i>
                                            Edit Home Page String
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-bookmark"></i>
                                            Edit Home Page String
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>*@
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="content-wrapper wood-wrapper">
                    <div class="content-inner">
                        <div class="page-header">
                            <div class="header-links hidden-xs">
                                <a href=@Url.Action("Logout", "Login", null)><i class="icon-signout"></i> Logout</a>
                            </div>
                            <h1><i class="icon-bar-chart"></i> Dashboard</h1>
                        </div>
                        <div class="main-content">
                            <div class="widget">
                                @Html.Partial("_GlobalNotification") @*notification only shows if there is one then deltes it after*@
                            </div>
                            <div style="margin-top:-60px;"></div>

                            @RenderBody()
                            <br><br>

                            @*this is the statistic widget this only shows if there is a logged in admin
                                0=admin, 1=student 2=instructor*@
                            @{if (BusinessLayer.TokenModel.VerifyToken(WebHelper.WebSession.COOKIE_Token) && BusinessLayer.TokenModel.Role(WebHelper.WebSession.COOKIE_Token) == 0)
                                {
                                    @*@BusinessLayer.TokenModel.VerifyToken(WebHelper.WebSession.COOKIE_Token).ToString()
                                    @BusinessLayer.TokenModel.Role(WebHelper.WebSession.COOKIE_Token)
                                    @WebHelper.WebSession.COOKIE_Token*@
                                    @*@Html.Partial("StatisticsWidget")*@
                                }
        }
                            <br><br><br><br><br><br><br>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="color_settings_box hidden-xs">
        <h3>Color Settings</h3>
        <label for="wood-wrapper-checkbox" class="checkbox-w">
            <input type="checkbox" id="wood-wrapper-checkbox">
            <span class="wood-checkbox"></span> Wrap in Wood
        </label>
        <h3>Background</h3>
        <div class="color-settings-w" data-replace-element="body" data-leave-class="">
            <div class="color-box color-box-dark-blue color-tooltip" data-toggle="tooltip" data-placement="top" title="Solid Dark Blue" data-replace-with="body-dark-blue"></div>
            <div class="color-box color-box-light-blue color-tooltip" data-toggle="tooltip" data-placement="top" title="Solid Light Blue" data-replace-with="body-blue"></div>
            <div class="color-box color-box-grey color-tooltip" data-toggle="tooltip" data-placement="top" title="Solid Grey" data-replace-with="body-grey"></div>
            <div class="color-box color-box-linen-dark color-tooltip active" data-toggle="tooltip" data-placement="top" title="Dark Linen" data-replace-with="body-dark-linen"></div>
            <div class="color-box color-box-linen-light color-tooltip" data-toggle="tooltip" data-placement="top" title="Light Linen" data-replace-with="body-light-linen"></div>
        </div>
        <h3>Header</h3>
        <div class="color-settings-w" data-replace-element=".page-header" data-leave-class="page-header">
            <div class="color-box color-box-dark-blue color-tooltip" data-toggle="tooltip" data-placement="top" title="Dark Blue" data-replace-with="page-header-dark-blue"></div>
            <div class="color-box color-box-red active color-tooltip" data-toggle="tooltip" data-placement="top" title="Red" data-replace-with="page-header-red"></div>
            <div class="color-box color-box-green color-tooltip" data-toggle="tooltip" data-placement="top" title="Green" data-replace-with="page-header-green"></div>
            <div class="color-box color-box-green-sea color-tooltip" data-toggle="tooltip" data-placement="top" title="Green Sea" data-replace-with="page-header-green-sea"></div>
            <div class="color-box color-box-orange color-tooltip" data-toggle="tooltip" data-placement="top" title="Emerald" data-replace-with="page-header-orange"></div>
            <div class="color-box color-box-blue color-tooltip" data-toggle="tooltip" data-placement="top" title="Blue" data-replace-with="page-header-blue"></div>
        </div>
        <h3>Active Menu</h3>
        <div class="color-settings-w" data-replace-element=".side-menu" data-leave-class="side-menu">
            <div class="color-box color-box-dark-blue color-tooltip" data-toggle="tooltip" data-placement="top" title="Dark Blue" data-replace-with="side-menu-dark-blue"></div>
            <div class="color-box color-box-red active color-tooltip" data-toggle="tooltip" data-placement="top" title="Red (Default)" data-replace-with="side-menu-red"></div>
            <div class="color-box color-box-green color-tooltip" data-toggle="tooltip" data-placement="top" title="Green" data-replace-with="side-menu-green"></div>
            <div class="color-box color-box-green-sea color-tooltip" data-toggle="tooltip" data-placement="top" title="Green Sea" data-replace-with="side-menu-green-sea"></div>
            <div class="color-box color-box-orange color-tooltip" data-toggle="tooltip" data-placement="top" title="Orange" data-replace-with="side-menu-orange"></div>
            <div class="color-box color-box-blue color-tooltip" data-toggle="tooltip" data-placement="top" title="Blue" data-replace-with="side-menu-blue"></div>
        </div>
        <h3>Content</h3>
        <div class="color-settings-w" data-replace-element=".content-inner" data-leave-class="content-inner">
            <div class="color-box color-box-white color-tooltip" data-toggle="tooltip" data-placement="top" title="White" data-replace-with="content-inner-white"></div>
            <div class="color-box color-box-grey color-tooltip" data-toggle="tooltip" data-placement="top" title="Grey" data-replace-with="content-inner-grey"></div>
            <div class="color-box color-box-beige active color-tooltip" data-toggle="tooltip" data-placement="top" title="Beige" data-replace-with="content-inner-beige"></div>
        </div>
        <div class="toggle-color-settings">
            <i class="icon-cog"></i>
            <span>hide</span>
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    @Scripts.Render("~/admin/admin_footer")
  @RenderSection("scripts", required: false) 
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</body>
</html>








@*<body class="index">
<body class="index" ng-app>
       <!-- integration navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href=@Url.Action("Index", "Home", null)>WhiteBoard</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            @Html.Partial("_PartialHeaderLinks")
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <br /> <br /> <br />
    @Html.Partial("_GlobalNotification");
    @RenderBody()
    <!-- supoosedly the body -->



    @*included*@
@*@Scripts.Render("~/bundles/jquery")*@
@*@Scripts.Render("~/bundles/bootstrap")*@

@*angular*@
@*@Scripts.Render("~/integ/angular")*@

@*integ*@
@*@Scripts.Render("~/integ/prev")

    @*required*@
    


