﻿@using BusinessLayer
@{ var StrModel = new BusinessLayer.ConfigurationStrings_HomeModel(WebHelper.WebSession.AccountID);}

@*<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        @{if (TokenModel.VerifyToken(WebHelper.WebSession.COOKIE_Token) == false )
            {
                <li>
                    <a class="page-scroll" href=@string.Format("{0}#{1}",Url.Action("Index", "Home",null),"features")>@StrModel.HomePage_Head_Tab1</a>
                </li>
                <li>
                    <a class="page-scroll" href=@string.Format("{0}#{1}",Url.Action("Index", "Home",null),"course")>@StrModel.HomePage_Head_Tab2</a>
                </li>
                <li>
                    <a class="page-scroll" href=@string.Format("{0}#{1}",Url.Action("Index", "Home",null),"plans")>@StrModel.HomePage_Head_Tab3</a>
                </li>
                <li>
                    <a class="page-scroll" href=@Url.Action("Index", "Login", null)>@StrModel.HomePage_Head_Tab_Login</a>
                </li>
            }
            else
            {
                <li>
                    Welcome: @WebHelper.WebSession.UserName
                </li>
                <li>
                    <a class="page-scroll" href=@Url.Action("Logout", "Login", null)>@StrModel.HomePage_Head_Tab_Logout</a>
                </li>
            }
        }
    </ul>
</div>*@


<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
    <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        @{if (TokenModel.VerifyToken(WebHelper.WebSession.COOKIE_Token) == false )
            {
                <li>
                    <a class="page-scroll" href=@string.Format("{0}#{1}",Url.Action("Index", "Home",null),"features")>@StrModel.HomePage_Head_Tab1</a>
                </li>
                <li>
                    <a class="page-scroll" href=@string.Format("{0}#{1}",Url.Action("Index", "Home",null),"course")>@StrModel.HomePage_Head_Tab2</a>
                </li>
                <li>
                    <a class="page-scroll" href=@string.Format("{0}#{1}",Url.Action("Index", "Home",null),"plans")>@StrModel.HomePage_Head_Tab3</a>
                </li>
                <li>
                    <a class="page-scroll" href=@Url.Action("Index", "Login", null)>@StrModel.HomePage_Head_Tab_Login</a>
                </li>
            }
            else
            {
                <li>
                    Welcome: @WebHelper.WebSession.UserName
                </li>
                <li>
                    <a class="page-scroll" href=@Url.Action("Logout", "Login", null)>@StrModel.HomePage_Head_Tab_Logout</a>
                </li>
            }
        }
    </ul>
</div>