﻿@model BusinessLayer.SideMenuModel

<ul class="side-menu">
    <li class='current'>
        <a class='current' href=@Url.Action("index")>
            <i class="icon-dashboard"></i> @Model.TopName
        </a>
    </li>
    <li>
        <a href="charts.html" class="is-dropdown-menu">
            <span class="badge pull-right"></span>
            <i class="icon-gear"></i> @Model.SubMenuName
        </a>
        <ul>
            @for (int i = 0; i < @Model.SubMenuLink.Count; i++)
            {
                <li>
                    <a href=@Model.SubMenuLink[i]>
                        <i class="icon-bookmark"></i>
                        @Model.SubMenuListName[i]
                    </a>
                </li>
            }

        </ul>
    </li>
    <li>
        <a class='current' href=@Url.Action("Logout","Login")>
            <i class="icon-dashboard"></i> Logout
        </a>
    </li>

</ul>

