﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Unresolved Error";
}
<br />
<br />
<br />
<br />
<br />
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<br />
<br />
<h3 class="text-danger">Sorry about that.</h3>
<br />
<a href=@{Url.Action("Index", "Home", null);}> <u>Return to Home Page</u>  </a>

