﻿
@{
    ViewBag.Title = "400 BadRequest";
}

<div class="container">

    <div class="login-container center-block">
        <h3 class="login-heading">WhiteBoard</h3>
        <hr class="colorgraph"><br />

        <h4>Ooops Sorry</h4>
        <h5>Unfortunately that thing you just did, is not valid</h5>
        <br />
        <a href=@Url.Action("Index", "Home", null) > Return to Home Page  </a>

    </div>
</div>

