﻿
@{
    ViewBag.Title = "403 Forbidden";
}

<div class="container">

    <div class="login-container center-block">
        <h3 class="login-heading">WhiteBoard</h3>
        <hr class="colorgraph"><br />

        <h4>You shall not pass!!</h4>
        <h5>You can not access this page.</h5>
        <br />
        <a href=@Url.Action("Index", "Home", null)> Return to Home Page  </a>

    </div>
</div>


