﻿
@{
    ViewBag.Title = "InAccessible";
}


<div class="login-container center-block">
    <h3 class="login-heading">WhiteBoard</h3>
    <hr class="colorgraph"><br />

    <h4>InAccessible</h4>
    <h5>No Entry!!!</h5>
    <br />
    <a href=@Url.Action("Index", "Home", null)> Return to Home Page  </a>

</div>