﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div class="login-container center-block">
        <h3 class="login-heading">WhiteBoard</h3>
        <hr class="colorgraph"><br />
        
        <h4>Ooops Sorry</h4>
        <h6> Some errors we have not yet discovered occured. Please contact the administrator </h6>

        <!-- do not show not error message on production -->
        <br />
        <b>Message:</b> @*@Model.Exception.Message*@
        <br />
        <br />
        <b>Source:</b> @*@Model.Exception.Source*@
        <br />
        <br />
        <b>Stack Trace:</b> @*@Model.Exception.StackTrace*@
        <br />
        <a href=@Url.Action("Index", "Home", null)> Return to Home Page  </a>

    </div>
</div>



