﻿
@{
    ViewBag.Title = "404 Not Found";
}

<div class="container">

    <div class="login-container center-block">
        <h3 class="login-heading">WhiteBoard</h3>
        <hr class="colorgraph"><br />

        <h4>Ooops Sorry</h4>
        <h5>We cannot find the knowledge you are looking for :)</h5>
        <br />
        <a href=@Url.Action("Index", "Home", null)> Return to Home Page  </a>

    </div>
</div>



